<% for (var i = 0; i < jobs.length; i++) { %>
	<div class='job-box' data-id="<%= jobs[i]._id %>">
		<div class="job-box__cont">
			<div class="job-box__img">
				<img src="../images/company_logo/<%= jobs[i].company.logo %>" alt="Docleak">
			</div>
			<div class="job-box__text">
				<h4 class="job-box__text-pos"><%= jobs[i].title.name %></h4>
				<p class="job-box__text-company">
					<%= jobs[i].company.name %>
				</p>
				<h5 class="job-box__text-pos"><%= jobs[i].location.name %></h5>
			</div>
		</div>							
	</div>
<% } %>